:root {
  --bg: #0f172a;
  --text: #ffffff;
  --card: #020617;
  --accent: #38bdf8;
}

body.light {
  --bg: #f8fafc;
  --text: #020617;
  --card: #ffffff;
  --accent: #0284c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: var(--card);
  position: sticky;
  top: 0;
}

.navbar a {
  margin-left: 20px;
  color: var(--text);
  text-decoration: none;
}

#themeToggle {
  margin-left: 15px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

/* Hero */
.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 { font-size: 3rem; }

.btn {
  margin-top: 15px;
  background: var(--accent);
  color: #fff;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
}

/* Features */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 60px 10%;
}

.card {
  background: var(--card);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-8px) scale(1.02);
}

/* Contact */
.contact {
  padding: 60px 10%;
  background: var(--card);
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: var(--accent);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: var(--card);
}

/* Responsive */
@media(max-width:768px){
  .hero h1 { font-size: 2.2rem; }
}
